
.container{
    color: blanchedalmond;
    height: auto;
    width: auto;
 
  }
  
  .purple{
    width: auto;
    height: 75px;
    border-color: purple;
    border-style: solid;
    background-color: purple;
    display: flex;
   
    
  }

  
  .first{
   
    width: auto;
    height: 300px;
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 20px;
  
  }

  .h11{
    width: 900;
    height: 300px;
  }


  .sec{
    width: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-right: 20px;
  
  }
  
  .second{
    background-color: pink;
    width: 370px;
    height: 260px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
  }

  .h2{
    width: 460px;
    height: 300px;
    margin-top: 30px;
    margin-left: 20px;
  }

  .h3{
    width: 460px;
    height: 230px;
    margin-top: 30px;
    margin-left: 10px;

  }

  .h4{
    width: 460px;
    height: 230px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 40px;

  }


  

  .texth{
    margin-top: 20px;
    margin-left: 400px;
    font-weight: bolder;
    color: white;
  }

  .texte{
      margin-top: 20px;
      margin-left: 60px;
  
    }

    .textfs{
      margin-top: 20px;
      margin-left: 60px;
  

    }
  
  .texts{
    display: flex;
    justify-content: space-between;
    text-align: right;
    
  }
  .text {
    margin-top: 20px;
    margin-left: 60px;
    width: 100px;
    
}

.profile{
margin-left: 50px;

}

.logo{
  margin-bottom: 10px;
}